.FooterCopyright {
  display: flex;
  background-color: $footer-copyright-bg;
  color: $footer-text;
  justify-content: space-between;
  padding: 16px 168px;

  &-text {
    font-family: $font-primary;
    font-size: 12px;
    margin-bottom: 0;
  }

  &-block {
    display: flex;

    &:last-child {
      img {
        margin-left: 13px;
      }
    }
  }
}
