.FooterNewsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 67px 168px;

  &-section {
    display: flex;
  }

  &-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 20px;
  }

  &-cards {
    height: 37px;
    width: 60px;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}