.FooterCopyright {
  display: flex;
  background-color: $footer-copyright-bg;
  color: $footer-text;
  justify-content: space-between;
  padding: 16px 168px;

  @include media-breakpoint-down(xxl) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-breakpoint-down(sm) {
    align-items: center;
    flex-direction: column;
  }

  &-text {
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 11.5px;
    }
  }

  &-block {
    display: flex;
    font-weight: 500;

    &:last-child {
      img {
        margin-left: 13px;
      }
    }
  }
}
