.FooterMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 67px 168px;

  &-section {
    display: flex;
    flex-direction: column;
  }

  &-store {
    height: 67px;
    width: 197px;

    &:last-child {
      margin-top: 10px;
    }
  }

  &-title {
    color: $footer-text;
    font-family: $font-primary;
    font-size: 30px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 35px;
  }

  &-link {
    color: $footer-text;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 17px;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &-icon {
    margin-right: 37px;

    &:last-child {
      margin-right: 0;
    }
  }
}
