.Breadcrumb {
  padding-left: 60px;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: $font-primary;
  font-size: 12px;
  font-weight: 300;

  span {
    display: inline-block;
    margin-right: 5px;
  }

  @include media-breakpoint-down(xxl) {
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @include media-breakpoint-down(xl) {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
