// Colors

$black: #000;
$gray-dark: #313131;
$white: #fff;
$blue-dark: #1c243e;
$pink: #a191b2;
$orange: #f89b27;
$green-dark: #00071e;
$gray: #313131;
$gray-dark-opaque: #7070701f;
$blue-byzantine: #1b233b;
$blue-byzantine-dark: #192139;
$black-light: #00000029;
$peacoat: #242a41;
$blue-grayish: #21283e;
$grey-light: #ffffff77;

// Fonts
$regular-font: "Open Sans", sans-serif;
$font-primary: "Raleway", sans-serif;

// Header variables
$header-bg: $gray;
$header-text: $white;
$header-bg-button: $pink;

// Footer
$footer-bg: $gray-dark;
$footer-copyright-bg: $black;
$footer-text: $white;