// Colors
$black: #000;
$gray-dark: #313131;
$white: #fff;
$blue-dark: #1c243e;
$pink: #a191b2;
$orange: #f89b27;
$whisper: #EEEEEE;
$green-dark: #00071e;
$gray: #313131;
$gray-bright: #eeeeee;
$gray-dark-opaque: #7070701f;
$gray-light: #D0D0D0;
$blue-byzantine: #1b233b;
$blue-byzantine-dark: #192139;
$black-light: #00000029;
$peacoat: #242a41;
$blue-grayish: #21283e;
$grey-light: #ffffff77;
$purple-glossy: #A191B2;

// Fonts
$font-primary: "Raleway", sans-serif;
$font-secondary: "Cormorant Infant", sans-serif;

// Header variables
$header-bg: $gray;
$header-text: $white;
$header-bg-button: $pink;

// Footer
$footer-bg: $gray-dark;
$footer-copyright-bg: $black;
$footer-text: $white;
$footer-button-bg: $purple-glossy;

// Products List
$list-title: $purple-glossy;
